/a.id-t2_e2d68,
a.id-t2_eshyt,
a.id-t2_6l0c2,
a.id-t2_a1779,
a.id-t2_fxgms,
a.id-t2_12rq6w,
a.id-t2_euo6a,
a.id-t2_64z5a,
a.id-t2_s09s7,
a.id-t2_a814r,
a.id-t2_x37gvf,
a.id-t2ifjhh,
a.id-t2_zmcxw,
a.id-t2_hgasp,
a.id-t2_6f7h6,
a.id-t2_yda10,
a.id-t2_eje90,
a.id-t2_1u0eye3,
a.id-t2_f6lij,
a.id-t2_gd6s2,
a.id-t2_ijv92,
a.id-t2_12pcm5,
a.id-t2_pqpnj,
a.id-t2_ut0qy,
a.id-t2_136txn,
a.id-t2_lg40t,
a[href$="/ephixa"],
a[href$="/EvanDuffyComposer"],
a[href$="/Feint_UK"],
a[href$="/GarethEmery_Official"],
a[href$="/GlacierOfficial"],
a[href$="/goingquantum"],
a[href$="/grantbowtie"],
a[href$="/Haywyremusic"],
a[href$="/HellbergMusic"],
a[href$="/hollydrummond"],
a[href$="/HotDateOfficial"],
a[href$="/HyperPotions"],
a[href$="/iammindsight"],
a[href$="/imnanobii"],
a[href$="/Insan3Lik3"],
a[href$="/INTERCOM-Music"],
a[href$="/jb55"],
a[href$="/juicetra"],
a[href$="/kovenuk"],
a[href$="/Labisch"],
a[href$="/LaszloEDM"],
a[href$="/mattvanmusic"],
a[href$="/MattVice"],
a[href$="/MihkaMusic"],
a[href$="/mitchellclaxton"],
a[href$="/miyokiofficial"],
a[href$="user/MonstercatMedia"],
a[href$="/MonstercatShop"],
a[href$="/monstercatsupport"],
a[href$="/mrfijiwiji"],
a[href$="/nick-grabbitz"],
a[href$="/nigel_good"],
a[href$="/Nitro_Fun"],
a[href$="/noisestorm"],
a[href$="/notakermusic"],
a[href$="/PegboardNerds"],
a[href$="/Pegboard_Nerds"],
a[href$="/Petirep"],
a[href$="/pixlmusic"],
a[href$="/podcastmod"],
a[href$="/Puppetttt"],
a[href$="/RamesesB"],
a[href$="/RealRichEdwards"],
a[href$="/RichardCaddock"],
a[href$="/RRRIOTTT"],
a[href$="/SachaVibes"],
a[href$="/SAVOYband"],
a[href$="/SevenMinutesDead"],
a[href$="/skyellemusic"],
a[href$="/slipsandslurs"],
a[href$="/slushii_music"],
a[href$="/Slyleaf"],
a[href$="/Soulero"],
a[href$="/soupandreas"],
a[href$="/StephenWalking"],
a[href$="/Subtact"],
a[href$="/tekn604"],
a[href$="/TelevisorMusic"],
a[href$="/TeqqOfficial"],
a[href$="/TheOfficialProtostar"],
a[href$="/TheRealTristam"],
a[href$="/theWRLD"],
a[href$="/throttlemusic"],
a[href$="/throttlerob"],
a[href$="/trivecta_sam"],
a[href$="/TutTutChildmusic"],
a[href$="/variendarkboi"],
a[href$="/virtual_riot"],
a[href$="/volantmusic"],
a[href$="/yukstar"],
a[href$="/Darlington"],
a[href$="/LVTHER"] {
    color: #b79c1f!important;
    color: transparent!important;
    background: linear-gradient(to right, #cea229 1%, #d2bf96 100%);
    background-clip: text;
    -webkit-background-clip: text;
}
